<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyBook</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>

  <body class="bg-light">

    <!-- <div id="admin"> -->
      <nav class="navbar navbar-dark bg-dark">
	<span class="navbar-text">EasyBook</span>
	<!-- <form class="form-inline">
	     <input v-model="user" class="form-control mr-sm-2" type="text" placeholder="user">
	     <input v-model="password" class="form-control mr-sm-2" type="text" placeholder="password">
	     <div v-if="isAdmin" class="card card-body bg-success p-2 text-white">Administrator</div>
	     <button v-else type="submit" class="btn btn-outline-primary my-2 my-sm-0" v-on:click="login">Login</button>
	     </form> -->
      </nav>
      <!-- </div> -->

    <div class="border-bottom m-3 border-primary" id="balance">
      <h5> 残高 ( (( title )) )： [[ balance ]] </h5>
    </div>

    <!-- 切り替えタブ -->
    <nav class="m-3">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
	<a class="nav-item nav-link active" id="nav-check-tab" data-toggle="tab" href="#nav-check" role="tab" aria-controls="nav-check" aria-selected="true">
	  Check
	</a>
	<a class="nav-item nav-link" id="nav-book-tab" data-toggle="tab" href="#nav-book" role="tab" aria-controls="nav-book" aria-selected="false">
	  Book
	</a>
      </div>
    </nav>

    <!-- タブの中身 -->
    <div class="tab-content m-3" id="nav-tabContent">

      <!-- checkタブ -->
      <div class="tab-pane w-75 active" id="nav-check" role="tabpanel" aria-labelledby="nav-check-tab">

	<div class="table-responsive" id="check">
	  <table class="table table-hover table-striped table-sm">
	    <tr class="table-info">
	      <th hidden>id</th>
	      <th><input v-model="name" type="text" class="form-control" placeholder="Name" required/></th>
	      <th><p align="center">Check</p></th>
	      <th>
		<input type="submit" value="Add" v-on:click="inputName" class="btn btn-primary" />
		<!-- <input v-else type="submit" value="Add" v-on:click="inputName" class="btn btn-primary" disabled/> -->
	      </th>
	    </tr>

	    <tr v-for="row in collection">
	      <td hidden>
		[[ row.id ]]
	      </td>
	      <td>
		　[[ row.name ]]
	      </td>
	      <td align="center">
		<div id="checkTable" class="checkbox">
		  <input type="checkbox" v-model="checked" v-bind:value="row.id">
		  <!-- <input v-else class="form-check-input" type="checkbox" v-model="checked" v-bind:value="row.id" disabled> -->
		</div>
	      </td>
	      <td>
		<input type="submit" Value="Delete" v-on:click="deleteMember(row.id)" class="btn btn-outline-danger btn-sm">
		<!-- <input v-else type="submit" Value="Delete" v-on:click="deleteMember(row.id)" class="btn btn-outline-danger btn-sm" disabled> -->
	      </td>
	    </tr>
	  </table>

	</div>
      </div>

      <!-- bookタブ -->
      <div class="tab-pane w-75" id="nav-book" role="tabpanel" aria-labelledby="nav-book-tab">

	<div class="table-responsive" id="book">
	  <table class="table table-hover table-sm table-striped">
	    <tr class="table-info">
	      <th hidden>id</th>
	      <th><p align="center">Date</p></th>
	      <th><input v-model="summary" type="text" class="form-control" placeholder="Summary"></th>
	      <th><input v-model="incomes" type="text" class="form-control" placeholder="Incomes"></th>
	      <th><input v-model="expenses" type="text" class="form-control" placeholder="Expenses"></th>
	      <th>
		<input type="submit" value="Add" v-on:click="addAccount" class="btn btn-primary">
		<!-- <input v-else type="submit" value="Add" v-on:click="addAccount" class="btn btn-primary" disabled> -->
	      </th>
	    </tr>

	    <tr v-for="row in book">
	      <td hidden>
		[[ row.id ]]
	      </td>
	      <td class="text-center">
		[[ row.kept ]]
	      </td>
	      <td class="text-right">
		[[ row.summary ]]　
	      </td>
	      <td class="text-right">
		[[ row.incomes ]]　
	      </td>
	      <td class="text-right">
		[[ row.expenses ]]　
	      </td>
	      <td>
		<input type="submit" Value="Delete" v-on:click="deleteAccount(row.id)" class="btn btn-outline-danger btn-sm">
		<!-- <input v-else type="submit" Value="Delete" v-on:click="deleteAccount(row.id)" class="btn btn-outline-danger btn-sm" disabled> -->
	      </td>
	    </tr>
	  </table>

	</div>

      </div>
      <!-- bookタブ -->

    </div>
    <!-- タブの中身 -->

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.25/bootstrap-native-v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- <script src="./static/vue.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src='./static/main.js'></script>
    <!-- Scripts -->

  </body>

</html>
